.navbar-toggler-icon {
  /* background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%280, 0, 0, 0.50%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e")!important; */
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(249, 246, 232, 0.70)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>")!important;
  /* color: beige; */
  /* rgba%245, 245, 220, 0.50 */
  /* rgb(249, 246, 232) */
}
.navbar-toggler {
  border-color: rgba(249, 246, 232. 0.1)!important;
}

.navbar-dark .navbar-nav.nav-tabs .show > .nav-link, 
.navbar-dark .navbar-nav.nav-tabs .nav-link.active {
  color: rgba(0, 0, 0, 0.70)!important;
  font-weight: 600;
}

.navbar-nav.nav-tabs {
  border-bottom: none!important;
}

.bg-success {
  /* background-color: rgba(25, 135, 84, 1); */
  /* background-color: rgba(17, 83, 52, 1)!important; */
}

@media screen and (max-width: 767) {
  
}

@media screen and (min-width: 768) {
  /* .nav-tabs:first-child {
    margin-left: ;
  } */
}
